doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' href="/public/style.css")
        title Noom
    body 
        main
            div#videoCall
                div.videoContainer
                    div#myStream
                        video#myFace(autoplay, playsinline width='700px' height='500px')
                    div#peerStream
                        video#peerFace(autoplay, playsinline width='700px' height='500px')
                div.buttonContainer
                    button#mute Mic Off                       
                    button#camera Cam Off
                    select#cameraSelect
                    button#closeBtn Leave Room
            div#videoWelcome
                form
                    input(placeholder='room name', require, type='text')
                    button Enter Room

        script(src="/socket.io/socket.io.js") 
        script(src="/public/js/app.js") 